{% trans_default_domain 'FOSUserBundle' %}

 {% block fos_user_content_register %}


     <section class="login_content">

         {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
         <h1>Create Account</h1>
         {{ form_widget(form) }}
         <div>
         <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
         </div>
         <div class="clearfix"></div>

         <div class="separator">
             <p class="change_link">Already a member ?
                 <a href="{{ path('fos_user_security_login') }}" class="to_register"> Log in </a>
             </p>

             <div class="clearfix"></div>
             <br />

             <div>
                 <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                 <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
             </div>
         </div>
             {{ form_end(form) }}
     </section>

 {% endblock fos_user_content_register %}








